* {
  box-sizing: border-box;
  font-family: system-ui;
  font-size: 15px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .totalBody {
  width: 70%;
  padding: 20px;
  border: 2px solid rgb(155, 208, 246);
  box-shadow: 5px 10px 8px #888888;
}
body header .name {
  font-size: 30px;
  color: #42b6f5;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}
body header .contactList {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
}
body header .contactList li {
  list-style: none;
}
body header .contactList li a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}
body header .contactList li a img {
  padding: 10px;
}
body header .contactList li:hover a img {
  transform: scale(1.3);
  transition: all 0.5s;
}
body .upperMid .objective h2 {
  display: inline;
  background-color: #42b6f5;
  color: white;
  padding: 9px;
  border-radius: 7px 7px 0 0;
}
body .upperMid .objective hr {
  height: 3px;
  background-color: #42b6f5;
  border: none;
}
body .upperMid .objective p {
  padding-bottom: 10px;
  padding-left: 10px;
}
body .education h2, body .intersts h2, body .Achievements h2, body .projects h2, body .skills h2 {
  display: inline;
  background-color: #42b6f5;
  color: white;
  padding: 9px;
  border-radius: 7px 7px 0 0;
}
body .education hr, body .intersts hr, body .Achievements hr, body .projects hr, body .skills hr {
  height: 3px;
  background-color: #42b6f5;
  border: none;
}
body .education ul, body .intersts ul, body .Achievements ul, body .projects ul, body .skills ul {
  padding-left: 20px;
}
body .education ul li .date, body .intersts ul li .date, body .Achievements ul li .date, body .projects ul li .date, body .skills ul li .date {
  text-align: right;
  margin: 0px;
}
body .education ul li h4, body .intersts ul li h4, body .Achievements ul li h4, body .projects ul li h4, body .skills ul li h4 {
  margin: 5px;
}
body .education ul li p, body .intersts ul li p, body .Achievements ul li p, body .projects ul li p, body .skills ul li p {
  margin: 5px;
}
body .skills ul {
  display: flex;
  padding-left: 0px;
  flex-wrap: wrap;
}
body .skills ul li {
  list-style: none;
  padding: 5px;
}
body .skills ul li p {
  background-color: rgb(209, 207, 207);
  padding: 10px;
  border-radius: 5px;
}
body .skills ul li:hover {
  transform: scale(1.3);
  transition: all 0.8s;
}
body .skills ul li:hover p {
  border-radius: 15px;
  transition: all 0.8s;
}
body .projects {
  margin-bottom: 30px;
}
body .projects ul {
  padding-left: 20px;
}
body .projects .dis {
  padding-left: 30px;
}
body .projects .dis strong {
  background-color: rgb(209, 207, 207);
  padding: 5px;
  border-radius: 3px;
}
body .projects a {
  padding: 5px;
  margin-left: 0px;
  text-decoration: none;
  background-color: antiquewhite;
  border-radius: 4px;
}
body .Achievements {
  padding-bottom: 20px;
}
body .Achievements ul {
  padding-left: 20px;
  line-height: 1.5rem;
}
body .intersts ul {
  padding-left: 0;
  display: flex;
}
body .intersts ul li {
  list-style: none;
  padding-bottom: 25px;
}
body .intersts ul li p {
  background-color: rgb(209, 207, 207);
  display: inline;
  padding: 10px;
  border-radius: 7px;
}

@media screen and (max-width: 900px) {
  body .totalBody header ul li {
    padding: 10px;
  }
  body .totalBody header ul li p {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  body .totalBody .skills ul li {
    padding: 5px;
  }
  body .totalBody .skills ul li p {
    margin: 0px;
  }
}
@media screen and (max-width: 750px) {
  body .totalBody .skills ul li p {
    padding: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
